.main{
    width: 90%;
    margin: 0 auto;
}
footer{
    background-color: #f2f2f2; padding: 20px;
    font-size: 18px;
    width: 100%;
    text-align: center;
}
.nav-item .active {
    background-color: rgb(182, 231, 231);
}
.navbar-brand .p-2 .active{
    background-color: rgb(182, 231, 231);
}
.carousel-item {
    max-height: 800px;
  }